[v-cloak] { display:none; }

[title] {
    background-color: black;
}

body{
    padding: 0;
    margin: 0;
}

h2{
    font-size: 18pt;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

h3{
    font-size: 14pt;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

h4{
    font-size: 12pt;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

h5{
    font-size: 11pt;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.full{
    width: 1136pt;
    height: 680pt;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border: 4pt solid darkslategrey;
}

#map{
  background-image: url('../public/map.jpg');
  background-size: cover;
  z-index: -1;   
}

#rank{
    left: 0;
    top: 688pt;
    width: 1096pt;
    position: absolute;
    background-color: lightgrey;
    border-left: 4pt solid darkslategrey;
    border-right: 4pt solid darkslategrey;
    border-bottom: 4pt solid darkslategrey;
    padding: 15pt 20pt;
}

#rank-fame{
    display: inline-block;
    vertical-align: top;
}

#rank-treasure{
    display: block;
    margin-top: 20pt;
}

#aside{
    position: absolute;
    width: 190pt;
    background-color: brown;
    min-height: 650pt;
    left: 1144pt;
    top: 0;
}

#aside>:nth-child(3){
    border-bottom: 1pt solid lightgrey;
}

#aside h4, h5{
    text-align: center;
    color: white;
    background-color: black;
    display: block;
    padding: 5pt 0;
}

#aside-history{
    display: block;
    background-color: beige;
    width: 100%;
    max-height: 159.5pt;
    border-bottom: 4pt solid darkslategrey;
    overflow-y: scroll;
}

.history-round{
    font-size: 11pt;
    display: block;
    text-align: center;
    border-bottom-style: ridge;
}

.start{
    padding-left: 15pt
}

.start h2{
    display: block;
    letter-spacing: 10pt;
    color: white;
    margin: 20pt 0pt 5pt 0pt;
    border-bottom-style: ridge;
    width: 800pt;
    padding-bottom: 8pt;
}

.start-theme{
    display: inline-block;
    vertical-align: top;
    background-color: darkgrey;
    margin: 5pt 5pt 5pt 0;
    width: 120pt;
    height: 150pt;
    padding: 5pt 2pt;
    text-align: center;
    border-radius: 5pt;
    border: 2pt solid black;
}

.start-state{
    display: inline-block;
    vertical-align: middle;
    margin-right: 20pt;
    margin-top: 10pt;
    padding: 5pt;
    border-radius: 3pt;
    width: 170pt;
    text-align: center;
    cursor: pointer;
}

.start-state-name{
    display: inline-block;
    width: 20pt;
    line-height: 20pt;
    text-align: center;
    border-radius: 50%;
    color: white;
}

.start-state-army{
    display:block;
    margin-top:5pt;
    background-color:darkslategrey;
}
.start-state-army p{
    display: block;
    margin: 5pt 0;
    padding: 2pt 0;
    color: lightgrey;
    font-size: 10pt;
    border-radius: 5pt;
}

.start-setting{
    display: inline-block;
    vertical-align: top;
    margin-left: 30pt
}

.start-setting h4{
    color: lightgrey;
}