[v-cloak] { display:none; }

[title] {
    background-color: black;
}

body{
    padding: 0;
    margin: 0;
}

h4{
    font-size: 12pt;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

h5{
    font-size: 11pt;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

#main, #map{
    width: 1136pt;
    height: 680pt;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border: 4pt solid darkslategrey;
}

#map{
  background-image: url('../public/map.jpg');
  background-size: cover;
  z-index: -1;   
}

#rank{
    left: 0;
    top: 688pt;
    width: 1096pt;
    position: absolute;
    background-color: lightgrey;
    border-left: 4pt solid darkslategrey;
    border-right: 4pt solid darkslategrey;
    border-bottom: 4pt solid darkslategrey;
    padding: 15pt 20pt;
}

#rank-fame{
    display: inline-block;
    vertical-align: top;
}

#rank-treasure{
    display: block;
    margin-top: 20pt;
}

#aside{
    position: absolute;
    width: 190pt;
    background-color: brown;
    min-height: 688pt;
    left: 1144pt;
    top: 0;
}

#aside>:first-child{
    border-bottom: 1pt solid lightgrey;
}

#aside h4, h5{
    text-align: center;
    color: white;
    background-color: black;
    display: block;
    padding: 5pt 0;
}

#aside-history{
    display: block;
    background-color: beige;
    width: 100%;
    height: 195pt;
    border-bottom: 4pt solid darkslategrey;
    overflow-y: scroll;
}

.history-round{
    font-size: 11pt;
    display: block;
    text-align: center;
    border-bottom-style: ridge;
}

