[v-cloak] { display:none; }

[title] {
    background-color: black;
}

body{
    padding: 0;
    margin: 0;
}

h4{
    font-size: 14px;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

h5{
    font-size: 12px;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

#main, #map{
    width: 1136px;
    height: 680px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border: 4px solid darkslategrey;
}

#map{
  background-image: url('../public/map.jpg');
  background-size: cover;
  opacity: 0.6;
  z-index: -1;   
}

#rank{
    left: 0;
    top: 688px;
    width: 1096px;
    position: absolute;
    background-color: lightgrey;
    border-left: 4px solid darkslategrey;
    border-right: 4px solid darkslategrey;
    border-bottom: 4px solid darkslategrey;
    padding: 30px 20px;
}

#rank-fame{
    display: inline-block;
    vertical-align: top;
}

#rank-treasure{
    display: block;
    margin-top: 20px;
}

#aside{
    position: absolute;
    min-width: 210px;
    background-color: brown;
    min-height: 688px;
    left: 1144px;
    top: 0;
    right: 0px;
}

#aside>:first-child{
    border-bottom: 1px solid lightgrey;
}

#aside h4, h5{
    text-align: center;
    color: white;
    background-color: black;
    display: block;
    padding: 5px 0;
}

#aside-history{
    display: block;
    background-color: beige;
    width: 100%;
    height: 72px;
    border-bottom: 4px solid darkslategrey;
    overflow-y: scroll;
}

.history-round{
    font-size: 11px;
    display: block;
    text-align: center;
    border-bottom-style: ridge;
}

